@import "vars";
html,
body {
  height: 100%;
  //   @extend %AnPro-Regular;
  //   color: $text;
  // position: relative;
  // overflow-x: hidden;
  // margin: 0 auto;
  //   background-color: $background;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  background-color: #3b3b3b;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  color: $white;
}
.title {
  font-family: "Alegreya SC", serif;
  font-weight: 700;
}

// .title{
//     @extend %AlGrey-Bold;
//     font-size: 36px;
//     line-height: 49px;
//     padding: 0px 35px;
//     border-bottom: 2px solid $blue;
//     text-align: center;
//     margin: 0 auto;
//     margin-bottom: 56px;
//     max-width: fit-content;
// }
.arrowSvg {
  transition: transform 0.3s;
  path {
    transition: color 0.3s;
  }
}
.link__hover {
  position: relative;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #abd0d3;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
  }

  &:hover {
    color: #abd0d3;
    &::before {
      transform: scaleX(1);
    }
    .arrowSvg {
        transform: rotate(-180deg);
      path {
        fill: #abd0d3;
      }
    }
  }
}
.cons__btn {
  border: 1px solid #abd0d3;
  border-radius: 3px;
  padding: 13px 19px;

  transition: all 0.3s;

  text-wrap: nowrap;
  &:hover {
    transform: translateY(-3px);
    border-color: $gray;
    box-shadow: 0 2px 5px #000;
    background-color: #abd0d3;
    color: #3b3b3b;
  }

  &:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 1px 2px #000;
  }
}

.line-title {
  position: relative;
  margin: 0;
  padding: 16px 86px;
  background-color: rgba(181, 171, 159, 0.8);
  font-family: "Alegreya SC", serif;
  font-size: 48px;
  font-weight: 700;
  color: #3b3b3b;
  text-align: right;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100%;
    background-color: rgba(181, 171, 159, 0.8);
  }
}
.title-decor {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% + 40px);
    height: 2px;
    background-color: #abd0d3;
    transform: translateX(-50%);
  }
}
